<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Velkommen til Flyover.dk dig med email <strong><%= @email %></strong></h1>
    <p>
      Hej! Du er nu klar til at logge ind via dette link: 
    </p>
    <p>
      Login med dette link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
</p></h>
</body>
</head>
</html>
